/Prueba/nbproject/private/
/ProyectoSegundo3/dist/
/Proyecto con otro chat/ProyectoSegundo3/build/
/Proyecto con otro chat/ProyectoSegundo3/dist/
/Proyecto con otro chat/ProyectoSegundo3/nbproject/private/